* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e3f4fe;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --soft-grey: #808080;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 300px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    align-self: center;
    margin-top: 48px;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 28px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin: 25px 0;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../icons/down-arrow.svg');
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

#main-exchange {
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
}

.main-exchange__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

#main-exchange .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: url('../img/Bitcoin.svg') center/cover no-repeat;
}

#main-exchange h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: bold; 
    line-height: 2.6rem; 
    color: var(--black);
}

#main-exchange .main-exchange__title p {
    margin-bottom: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--soft-grey);
}

#exchange-table {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

#exchange-table h3 {
    font-size: 1.8rem;
    text-align: initial;
    margin-left: 12px;
    margin-bottom: 6px;
}
.exchange-table__coins h3 {
    color: var(--bitcoin-orange);
}
.exchange-table__comission h3 {
    color: var(--secondary-blue);
}

.exchange-table__coins, .exchange-table__comission{
    width: 70%;
    max-width: 330px;
    min-width: 235px;
    margin: 12px 24px; 
    font-family: "Inter", sans-serif;
}

#exchange-table .table-container {
    display: grid;
    grid-row-gap: 16px;
    background-color: var(--just-white);
    border-radius: 6px;
    padding: 12px;
}

.exchange-table__comission .table-container__row {
    grid-template-columns: 50% 50%;
}
.exchange-table__coins .table-container__row {
    grid-template-columns: 50% 25% 25%;
}
.table-container__row {
    display: grid;
    font-size: 1.6rem;
    color: var(--warm-black);
    align-items: center;
    justify-items: center;
}
.table-container__row p:first-child {
    opacity: 70%;
}
.table-container__row p:nth-child(2) {
    opacity: 90%;
}

.table-container__row div {
    background: url('../icons/trending-down.svg') center/cover no-repeat; 
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.table-container__row .up-arrow {
    background: url('../icons/trending-up.svg') center/cover no-repeat; 
}

.exchange-table__comission .exchange-table__update {
    background-color: var(--soft-blue);
}
.exchange-table__coins .exchange-table__update {
    background-color: var(--soft-orange)
}
.exchange-table__update {
    font-size: 1.4rem;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 7px;
    font-weight: 300;
}

.exchange-table__update span {
    font-weight: bold;
}

#product-detail {
    position: relative; 
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px 40px;
    background-color: var(--black);
}

#product-detail > span {
    position: absolute;
    width: 40px;
    height: 25px;
    top: calc(0% - 12.5px);
	left: calc(50% - 20px);
    background: url('../icons/batata.svg') center/cover no-repeat;
}

.product-detail__description {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
}

.product-detail__description h2 {
    font-size: 2.4rem;
    color: var(--just-white);
    line-height: 2.8rem;
}

.product-detail__description p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-grey);
    margin: 24px 0;
}

.product-detail__cards-container {
    display: flex;
    flex-wrap: wrap;
}

.product-detail__card {
    width: 90%;
    min-width: 288px;
    max-width: 384px;
    min-height: 150px;
    margin: 15px auto;
    padding: 16px;
    background-color: var(--warm-black);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16)
}

.icon-card {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    margin-left: 1px;
} 
.clock {
    background: url('../icons/clock.svg') center/cover no-repeat;
}
.eye {
    background: url('../icons/eye.svg') center/cover no-repeat;
}
.dollar-sign {
    background: url('../icons/dollar-sign.svg') center/cover no-repeat;
}
.check-circle {
    background: url('../icons/check-circle.svg') center/cover no-repeat;
}

.product-detail__card-title {
    margin-bottom: 12px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-detail__card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-grey);
}

.bitcon-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background: url('../img/bitcoinbaby.jpg') center/cover no-repeat;
    text-align: center;
}

.bitcon-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

#plans {
    width: 100%;
    min-width: 320px;
    text-align: center;
}

.plans__description {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
}

.plans__description h2 {
    padding-top: 45px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--black);
}

.plans__description p {
    padding: 24px 0 34px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-grey);
}

.plans-container {
    display: flex;
    padding: 0 36px;
    height: 353px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity; 
}

.plans-container__card {
    scroll-snap-align: center;
    position: relative; 
    width: 70%;
    min-width: 230px;
    max-width: 280px;
    height: 268px;
    margin: 16px 0 0 26px;
    padding: 0 24px;
    background-color: var(--just-white);
    border-radius: 10px;
    box-shadow: 8px 20px 60px #bebebe, -8px -20px 60px #ffffff;
    font-family: "Inter", sans-serif;
}

.anual {
    border: 2px solid var(--bitcoin-orange);
}
.mensual, .duo {
    border: 2px solid var(--grey)
}

.plans-container__card > p {
    position: absolute;
    width: 120px;
    height: 34px;
    top: -16px;
    left: calc(50% - 58px);
    font-size: 1.4rem;
    padding: 7px;
    font-weight: 500;
    border-radius: 8px;
    color: var(--just-white);
}
.anual > p {
    background-color: var(--bitcoin-orange);
}
.mensual > p {
    background-color: var(--secondary-blue);
}
.duo > p {
    background-color: var(--soft-grey);
}

.plans-container__card-info h3 {
    padding-top: 35px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8rem;
    color: black;
}

.card-info__price {
    color: black;
    padding: 16px 10px 5px 0px;  /*  18px   */
    font-size: 5.2rem;
    font-weight: bolder;
    letter-spacing: -4px;
}
.card-info__price::first-letter {
    font-size: 1.6rem;
    font-weight: 500;
    vertical-align: text-top;
}

.card-info__saving {
    font-size: 1.4rem;
    color: var(--soft-grey);
}
.card-info__saving span {
    font-weight: bold;
}

.plans-container__card-info button {
    width: 90%;
    height: 48px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.anual button {
    background-color: var(--soft-orange);
    border: 2px solid var(--bitcoin-orange);
}
.mensual button {
    background-color: var(--soft-blue);
    border: 2px solid var(--secondary-blue);
}
.duo button {
    background-color: #d9d9d9;
    border: 2px solid var(--soft-grey);
}
button {
    cursor: pointer;
}

.plans-container__card-info button span {
    width: 20px;
    height: 20px;
    background: url('../icons/orange-right-arrow.svg');
    margin-left: 4px;
}

footer {
    display: flex;
    width: 100%;
    height: 188px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
}

.footer__left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}
.footer__left .linkedin {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.footer__left li {
    margin: 12px 0; 
}

.footer__left a {
    text-decoration: none;
    color: var(--just-white);
}

.footer__right img {
    height: 64px;
    width: 64px;
}